footer{
    background-color: #72B6C3 ;
    padding: 20px 0px 20px 0px;
	font-family: Comic Sans MS, Comic Sans, cursive;
}

.aboutus{
	font-family: Trebuchet MS, sans-serif;
}
#clr2{
    background-color:  #72B6C3;
}
#p1{
    text-align:center ;
    
}
.welcome{
	margin: 1em 0 0.5em 0;
	font-weight: 100;
	text-transform: uppercase;
	color: #72B6C3;
	font-style: italic;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.23);
}


.btn-style
{
  width: 20%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
center {
  margin-left: auto;
  margin-right: auto;
}

aside{
  text-align: center;
}
.pp{
  font-size: large;
}

.mainheading{

	font-weight: 100;
	text-transform: uppercase;
	color: #72B6C3;
	font-style: italic;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
	text-shadow: 2px 5px 0 rgba(0,0,0,0.1);}	


.hh{
	font-weight: 100;
    text-align: center;
	font-size: 40px;
	font-family:Georgia, serif;
}
.forr{
  margin-left: 200px;
}
.lin{
  color: black;
}
a{
  text
}